* {
  box-sizing: border-box;
}

.master_main {
  width: 100%;
  background-color: #333;
  padding-bottom: 9.5%;
}

.master_wrapper {
  text-align: center;
  margin: auto;
  margin-top: 10%;
  padding: 0px 20px;
  padding-bottom: 20px;
  color: white;
}

.master_flex_blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.master_block {
  text-align: center;
}

.master_price {
  margin-bottom: 10px;
  color: #007eff;
}

.master_name {
  margin-bottom: 10px;
  color: white;
  padding: 10px 0px;
  font-size: 25px;
}

.master_btn {
  border: 1px solid white;
  color: white;
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  padding: 5px 25px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.master_btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.5s;
}

.master_hr {
  width: 70%;
  border-bottom: 2px solid white;
}


.master_span {
  color: white;
}