.main{
}
.video{
  text-align: center;
}
.video button{
  margin-top: 35%;
  padding: 20px;
  font-size: 35px;
  background-color: rgb(43 43 43 / 48%);
  border: 1px solid white;
  color: white;
  width: 800px;
  border-radius: 10px;
}
.video button:hover{
  background-color: rgb(10, 10, 10);
  color: white;
  transition: 0.5s;
}
.video button a{
  padding: 0px 150px;
}
.bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 60%;
  width: auto;
  height: auto;
  z-index: -9999;
}
/*     на верху стили для header'a          */


/*     начинаются стили для content'a        */
.content-cars{
  width: 1200px;
  margin: auto;
  margin-top: 13%;
  margin-bottom: 7%;
}
.cars_logo{
  width: 20%;
  display: block;
}

.main-cars-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cars-wrapper{
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: space-evenly;
  width: 26%;
  min-width: 0;
  align-items: center;
  box-shadow: 0px 0px 1px 0px black;
  padding: 10px;
  /*flex: 1 1 auto;*/
  margin-top: 20px;
  text-align: left;
  background-color: white;
  border: none;
  height: 100px;
  border-radius: 20px;
}
.cars-wrapper:hover{
  /*justify-content: center;*/
  /*color: white;*/
  width: 30%;
  transition: 0.1s;
  font-size: 22px;
  box-shadow: 0px 0px 4px 0px black;
}
.cars-name{
  border-bottom: 3px solid black;
  padding: 5px;
}