.SignUpBlock {
  text-align: center;
  align-items: center;
  padding: 1%;
  margin-top: 60px;
  height: 25px;
}

.RegisterBTN {
  margin-top: 100px;
  width: 25%;
  height: 25px;
}

.NotRegisterBTN {
  margin-top: 100px;
  width: 25%;
  height: 25px;
}

.SignInMain {
  background-color: #333333;
  width: 100%;
  margin: auto;
  /*margin-top: 5%;*/
  text-align: center;
  padding-top: 7%;
  padding-bottom: 10.5%;
}

.passwordINP {
  margin-top: 50px;
  width: 25%;

}

.loginINP {
  width: 25%;
  height: 25px;
}

.SignWindow {
  height: 800px;
  width: 60%;
}

.RegisterBTN:hover {
  background-color: green;
  transition: 1s;
  box-shadow: inset 0 0 0 23px #53ea93;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.NotRegisterBTN:hover {
  transition: 1s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.empty {
  color: red;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.5s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.3s; /* Задержка перед началом */
}

.NoEmpty {
  color: green;
}

.BackLinkBlock {
  margin-top: 25px;
  margin-right:100%;
}

.Back:hover {
  background-color: #007eff;
  transition: 1s;
  box-shadow: inset 0 0 0 23px #007eff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.Back {
  font-size: 18px;
}

.BlockError {
  color: red;
}

.mainINP {
  display: flex;
  width: 100%;
  margin-left: 15.7%;
}

.input__wrapper {
  text-align: center;
  padding: 1%;
  margin-top: 5%;
  height: 25px;
}

.SignUpWindow {
    
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.5s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.3s; /* Задержка перед началом */

  height: 650px;
  width: 60%;
  margin: auto;
  background-color: whitesmoke;
}
@keyframes show{
  0%{
  opacity:0;
  padding-left: 500px;
  }
  100% {
  opacity:1;
  }
  }

.passwordIcon {
  width: 75px;
  height: 60px;
}

.loginIcon {
  width: 60px;
  height: 55px;
}
