*{
  box-sizing: border-box;
  font-family: 'Spartan','Comfortaa', sans-serif;
  font-weight: bold;
}
body{
  margin: 0;
  font-family: 'Spartan', sans-serif;
  height: 100%;
}
h1 {
  font-family: 'Spartan', sans-serif;
}
#root{
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Hind:wght@300&family=Manrope:wght@200&family=Spartan:wght@300&family=The+Nautigal&family=Varela+Round&family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Manrope:wght@200&family=Spartan:wght@300&family=The+Nautigal&family=Varela+Round&family=Vujahday+Script&display=swap");